@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.App {
  /* toata inaltimea view portului */
  height: 100vh;
  background-color: #8758ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
